@model Item


<div class="container">
    <div>
        <h1>
            Create Item
        </h1>
    </div>
    <div>
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3 col-3">
                <label asp-for="formFile" class="form-label">formFile</label>
                <input asp-for="formFile" class="form-control">
                <span asp-validation-for="formFile"></span>
            </div>
            <div class="mb-3 col-3">
                <label asp-for="Desc" class="form-label">Desc</label>
                <textarea asp-for="Desc" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <span asp-validation-for="Desc"></span>
            </div>
            <div class="mb-3 col-3">
                <label asp-for="CategoryId" class="form-label">CategoryId</label>
                <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Category,"Id","Name"))"></select>
                <span asp-validation-for="CategoryId"></span>
            </div>
            
            
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>