

@model List<Item>

<div class="content" id="home">
	<div class="section section1">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 col-xs-offset-3 col-sm-offset-4 col-md-offset-5 main-logo"></div>
			</div>
			<div class="row">
				<h2>Senkadagala</h2>
			</div>
			<div class="row">
				<p>
					A simple one page HTML layout.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="section section2" id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img class="img-responsive" title="PixelMock Introduction" src="~/assets/img/big-mac.jpg">
			</div>
			<div class="col-md-6 intro-text">
				<h3 id="aboutus-title">What is Senkadagala?</h3>
				<p>
					Senkadagala is a small, responsive, Twitter Bootstrap based HTML5 web layout. It uses one page architecture and displays all the information on the same page. Name for this theme is inspired by the city in central Sri Lanka - Kandy.
				</p>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id ultricies felis. Fusce sed nisi velit. Quisque cursus pharetra diam, non congue ligula sodales at. Phasellus sodales sem sagittis arcu vulputate dictum. Vestibulum faucibus malesuada risus.
				</p>
			</div>
		</div>
		<div class="row team">
			<div class="col-md-4">
				<img src="~/assets/img/team/user1.png" class="img-responsive">
				<h3 class="team-name">Member One</h3>
				<h4 class="team-subtitle">Awesome Designation</h4>
				<p class="team-details">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet dolor nec diam pharetra, eu sodales massa euismod. Maecenas ut tellus sit amet lectus molestie dapibus. Quisque fermentum rutrum felis, nec hendrerit diam mollis vitae. Integer sodales varius odio, vel pharetra ante rhoncus vel. Phasellus quis urna rutrum, molestie purus.
				</p>
			</div>
			<div class="col-md-4">
				<img src="~/assets/img/team/user2.png" class="img-responsive">
				<h3 class="team-name">Member Two</h3>
				<h4 class="team-subtitle">Awesome Designation</h4>
				<p class="team-details">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet dolor nec diam pharetra, eu sodales massa euismod. Maecenas ut tellus sit amet lectus molestie dapibus. Quisque fermentum rutrum felis, nec hendrerit diam mollis vitae. Integer sodales varius odio, vel pharetra ante rhoncus vel. Phasellus quis urna rutrum, molestie purus.
				</p>
			</div>
			<div class="col-md-4">
				<img src="~/assets/img/team/user3.png" class="img-responsive">
				<h3 class="team-name">Member Three</h3>
				<h4 class="team-subtitle">Awesome Designation</h4>
				<p class="team-details">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet dolor nec diam pharetra, eu sodales massa euismod. Maecenas ut tellus sit amet lectus molestie dapibus. Quisque fermentum rutrum felis, nec hendrerit diam mollis vitae. Integer sodales varius odio, vel pharetra ante rhoncus vel. Phasellus quis urna rutrum, molestie purus.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="section section3" id="services">
	<div class="container">
		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-sm-6 col-md-3 service-item">
				<img src="~/assets/img/@item.ImageUrl" title="Web design" class="img-responsive">
				<h3>@item.Category.Name</h3>
				<p>
					@item.Desc
				</p>
			</div>
			}
			
		</div>
	</div>
</div>
<div class="section section4" id="work">
	<div class="portfolio clearfix">
		<div id="portfolio-introduction">
			<h3>Our Portfolio</h3>
			<p>things we do to prove ourselves!</p>
		</div>

		<div id="portfolio-items" class="clearfix">


			<!-- start of a portfolio item -->
			<div class="item w3">
				<div class="hover-content">
					<h3>Awseome Project Name</h3>
				</div>
				<div class="hidden-item">
					<img src="~/assets/img/portfolio/web/sankalana/1.jpg" title="Sankalan Holdings" data-axisX="20" data-axisY="10">
				</div>
				<div class="modal fade portfolio-popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="row">
								<div class="col-xs-12">
									<div class="portfolio-item-description">
										<h3>Sankalana Holdings Website</h3>
										<p>Website design and the concept development is done by PixelMock and it was a pleasure experience to work with Sankalana holdings to deliver something awesome</p>
										<p>Concept design was developed using Adobe Photoshop and later customized using HTML, CSS and jQuery. </p>
										<p>End product is powered with Wordpress.</p>
										<div class="labels">
											<span class="label label-default">web</span>
											<span class="label label-primary">design</span>
											<span class="label label-success">wordpress</span>
											<span class="label label-info">photoshop</span>
											<span class="label label-warning">ui/ux</span>
											<span class="label label-danger">Danger</span>
										</div>
									</div>
								</div>
								<div class="col-xs-12">
									<div class='popup-image-container'>
										<img src="~/assets/img/portfolio/web/sankalana/1.jpg" title="Sankalana Holdings web site" class="portfolio-big img-responsive">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end of a portfolio item -->
			<!-- start of a portfolio item -->
			<div class="item">
				<div class="hover-content">
					<h3>Awseome Project Name</h3>
				</div>
				<div class="hidden-item">
					<img src="~/assets/img/portfolio/print/blackwelling/1.jpg" title="Blackwelling Recruitment" data-axisX="50" data-axisY="10">
				</div>
				<div class="modal fade portfolio-popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="row">
								<div class="col-xs-12">
									<div class="portfolio-item-description">
										<h3>Awseome Project Name</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae porttitor dolor, sit amet consectetur lectus. Nunc vitae viverra enim, non blandit tortor. Suspendisse convallis. </p>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae porttitor dolor, sit amet consectetur lectus. Nunc vitae viverra enim, non blandit tortor. Suspendisse convallis. </p>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae porttitor dolor, sit amet consectetur lectus. Nunc vitae viverra enim, non blandit tortor. Suspendisse convallis. </p>
										<div class="labels">
											<span class="label label-default">web</span>
											<span class="label label-primary">design</span>
											<span class="label label-success">wordpress</span>
											<span class="label label-info">photoshop</span>
											<span class="label label-warning">ui/ux</span>
											<span class="label label-danger">Danger</span>
										</div>
									</div>
								</div>
								<div class="col-xs-12">
									<div class='popup-image-container'>
										<img src="~/assets/img/portfolio/print/blackwelling/1.jpg" title="Blackwelling Recruitment" class="portfolio-big img-responsive">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end of a portfolio item -->
			<!-- start of a portfolio item -->
			<div class="item">
				<div class="hover-content">
					<h3>Awseome Project Name</h3>
				</div>
				<div class="hidden-item">
					<img src="~/assets/img/portfolio/web/whoor/1.jpg" title="WHOOR audio" data-axisX="50" data-axisY="50">
				</div>
				<div class="modal fade portfolio-popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="row">
								<div class="col-xs-12">
									<div class="portfolio-item-description">
										<h3>Awseome Project Name</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae porttitor dolor, sit amet consectetur lectus. Nunc vitae viverra enim, non blandit tortor. Suspendisse convallis. </p>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae porttitor dolor, sit amet consectetur lectus. Nunc vitae viverra enim, non blandit tortor. Suspendisse convallis. </p>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae porttitor dolor, sit amet consectetur lectus. Nunc vitae viverra enim, non blandit tortor. Suspendisse convallis. </p>
										<div class="labels">
											<span class="label label-default">web</span>
											<span class="label label-primary">design</span>
											<span class="label label-success">wordpress</span>
											<span class="label label-info">photoshop</span>
											<span class="label label-warning">ui/ux</span>
											<span class="label label-danger">Danger</span>
										</div>
									</div>
								</div>
								<div class="col-xs-12">
									<div class='popup-image-container'>
										<img src="~/assets/img/portfolio/web/whoor/1.jpg" title="WHOOR audio" class="portfolio-big img-responsive">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end of a portfolio item -->
			<!-- start of a portfolio item -->
			<div class="item">
				<div class="hover-content">
					<h3>Awseome Project Name</h3>
				</div>
				<div class="hidden-item">
					<img src="~/assets/img/portfolio/logo/chocodiles/1.jpg" title="Chocodiles" data-axisX="45" data-axisY="50">
				</div>
				<div class="modal fade portfolio-popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="row">
								<div class="col-xs-12">
									<div class="portfolio-item-description">
										<h3>Awseome Project Name</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae porttitor dolor, sit amet consectetur lectus. Nunc vitae viverra enim, non blandit tortor. Suspendisse convallis. </p>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae porttitor dolor, sit amet consectetur lectus. Nunc vitae viverra enim, non blandit tortor. Suspendisse convallis. </p>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae porttitor dolor, sit amet consectetur lectus. Nunc vitae viverra enim, non blandit tortor. Suspendisse convallis. </p>
										<div class="labels">
											<span class="label label-default">web</span>
											<span class="label label-primary">design</span>
											<span class="label label-success">wordpress</span>
											<span class="label label-info">photoshop</span>
											<span class="label label-warning">ui/ux</span>
											<span class="label label-danger">Danger</span>
										</div>
									</div>
								</div>
								<div class="col-xs-12">
									<div class='popup-image-container'>
										<img src="~/assets/img/portfolio/logo/chocodiles/1.jpg" title="Chocodiles" class="portfolio-big img-responsive">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end of a portfolio item -->
			<!-- start of a portfolio item -->
			<div class="item">
				<div class="hover-content">
					<h3>Awseome Project Name</h3>
				</div>
				<div class="hidden-item">
					<img src="~/assets/img/portfolio/logo/1tl/1.jpg" title="1LT" data-axisX="50" data-axisY="50">
				</div>
				<div class="modal fade portfolio-popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="row">
								<div class="col-xs-12">
									<div class="portfolio-item-description">
										<h3>Awseome Project Name</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae porttitor dolor, sit amet consectetur lectus. Nunc vitae viverra enim, non blandit tortor. Suspendisse convallis. </p>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae porttitor dolor, sit amet consectetur lectus. Nunc vitae viverra enim, non blandit tortor. Suspendisse convallis. </p>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae porttitor dolor, sit amet consectetur lectus. Nunc vitae viverra enim, non blandit tortor. Suspendisse convallis. </p>
										<div class="labels">
											<span class="label label-default">web</span>
											<span class="label label-primary">design</span>
											<span class="label label-success">wordpress</span>
											<span class="label label-info">photoshop</span>
											<span class="label label-warning">ui/ux</span>
											<span class="label label-danger">Danger</span>
										</div>
									</div>
								</div>
								<div class="col-xs-12">
									<div class='popup-image-container'>
										<img src="~/assets/img/portfolio/logo/1tl/1.jpg" title="1LT" class="portfolio-big img-responsive">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end of a portfolio item -->
			<!-- start of a portfolio item -->
			<div class="item w3">
				<div class="hover-content">
					<h3>Awseome Project Name</h3>
				</div>
				<div class="hidden-item">
					<img src="~/assets/img/portfolio/web/sajath/1.jpg" title="Sajath Lakshita's Website" data-axisX="95" data-axisY="10">
				</div>
				<div class="modal fade portfolio-popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="row">
								<div class="col-xs-12">
									<div class="portfolio-item-description">
										<h3>Awseome Project Name</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae porttitor dolor, sit amet consectetur lectus. Nunc vitae viverra enim, non blandit tortor. Suspendisse convallis. </p>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae porttitor dolor, sit amet consectetur lectus. Nunc vitae viverra enim, non blandit tortor. Suspendisse convallis. </p>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae porttitor dolor, sit amet consectetur lectus. Nunc vitae viverra enim, non blandit tortor. Suspendisse convallis. </p>
										<div class="labels">
											<span class="label label-default">web</span>
											<span class="label label-primary">design</span>
											<span class="label label-success">wordpress</span>
											<span class="label label-info">photoshop</span>
											<span class="label label-warning">ui/ux</span>
											<span class="label label-danger">Danger</span>
										</div>
									</div>
								</div>
								<div class="col-xs-12">
									<div class='popup-image-container'>
										<img src="~/assets/img/portfolio/web/sajath/1.jpg" title="Sajath Lakshita's Website" class="portfolio-big img-responsive">
										<img src="~/assets/img/portfolio/web/sajath/2.jpg" title="Sajath Lakshita's Website" class="portfolio-big img-responsive">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end of a portfolio item -->
			<!-- start of a portfolio item -->
			<div class="item w3">
				<div class="hover-content">
					<h3>Awseome Project Name</h3>
				</div>
				<div class="hidden-item">
					<img src="~/assets/img/portfolio/web/udara/1.png" title="Udara Kiriella Photography Website" data-axisX="50" data-axisY="50">
				</div>
				<div class="modal fade portfolio-popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="row">
								<div class="col-xs-12">
									<div class="portfolio-item-description">
										<h3>Awseome Project Name</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae porttitor dolor, sit amet consectetur lectus. Nunc vitae viverra enim, non blandit tortor. Suspendisse convallis. </p>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae porttitor dolor, sit amet consectetur lectus. Nunc vitae viverra enim, non blandit tortor. Suspendisse convallis. </p>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae porttitor dolor, sit amet consectetur lectus. Nunc vitae viverra enim, non blandit tortor. Suspendisse convallis. </p>
										<div class="labels">
											<span class="label label-default">web</span>
											<span class="label label-primary">design</span>
											<span class="label label-success">wordpress</span>
											<span class="label label-info">photoshop</span>
											<span class="label label-warning">ui/ux</span>
											<span class="label label-danger">Danger</span>
										</div>
									</div>
								</div>
								<div class="col-xs-12">
									<div class='popup-image-container'>
										<img src="~/assets/img/portfolio/web/udara/1.png" title="Udara Kiriella Photography Website" class="portfolio-big img-responsive">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end of a portfolio item -->
		</div>

	</div>
</div>